*{
    margin:0;
    padding:0;
    font-family:"Playfair Display", serif;
    
}
.header{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(17, 3, 51, 0.705), rgba(4,9,30,0.7)), url(images/bg1.jpg);
    background-position: center;
    background-size:cover;
    position:relative;
}

.logo{
    height:80px;
    width:250px;
    margin-left:-30px;
    margin-top:9px;
}

nav{
    display:flex;
    padding:1% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width:170px;
}

.nav-links{
    flex:1;
    text-align:right;
}

.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding:1px 12px;
    position:relative;
}

.nav-links ul li a {
    color:white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content:'';
    width:0%;
    height:2.5px;
    background:rgb(124,180,124);
    display:block;
    margin:auto;
    transition:0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

.text-box{
    width:90%;
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.text-box h1{
    font-size:60px;
}

.text-box p{
    margin:10px 0 40px;
    font-size:18px;
    color:white;
}

.intro-button{
    display:inline-block;
    text-decoration: none;
    color:rgba(255,255,255,0.7);
    border-width:2px;
    border-style:solid;
    border-color: rgba(255,255,255,0.7);
    padding: 12px 34px;
    font-size:16px;
    background:transparent;
    position:relative;
    cursor:pointer;
    transition:0.5s;
}   

.intro-button:hover{
    background-color:rgba(97, 145, 97,0.7);
    border-color:white;
    color:white;
}

.nav-links .fa-solid{
    display:none;
}

nav .fa-bars{
    display:none;
}

.nav-links .fa-xmark{
    display:none;
}

@media (max-width:700px){
    .text-box h1{
        font-size:20px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position:absolute;
        background:rgb(80, 122, 80);
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        transition: right 0.5s ease;
        text-align:left;
        z-index:2;
        transition:0.6s;
    }

    .nav-links.open{
        right:0;
    }

    .nav-links .fa-xmark{
        display:block;
        color:white;
        margin:10px;
        font-size:22px;
        cursor: pointer;
    }

    nav .fa-bars{
        display:block;
        color:white;
        margin:10px;
        font-size:22px;
        cursor: pointer;
    }

    .nav-links .fas.fa-xmark
    {
        display:block;
        color:white;
        margin:10px;
        font-size:22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding:30px;

    }

    .level{
        flex-direction: column;
    }
}

/*--Resources--*/

h1{
    font-size:36px;
    font-weight:600;
    padding-bottom:10px;
}



p{
    color:black;
    font-size: 17px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 0;
    padding-bottom: 0;
}

.level{
    margin-top: 3%;
    display:flex;
    justify-content: space-between;
}

.resource-col{
    flex-basis: 31%;
    background:rgba(136, 190, 136, 0.5);
    border-radius:10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition:0.5s;
    cursor:pointer;
}

h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
}

.resource-col:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
}

/*--Guide--*/

.Guide{
    width:100%;
    margin:auto;
    text-align: center;
    padding-top:50px;
    padding-bottom: 50px;

    p{
        color:black;
        text-shadow: 4px -5px 15px rgba(0,0,0,0.4);
        font-size: 17px;
        font-weight: 300;
        line-height: 22px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

/*--Footer--*/

.footer{
    width:100%;
    text-align: center;
    padding: 0px;
    margin-top:20px;
    margin-bottom:30px;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight:600;
}

.icons .fa-brands{
    color:rgb(80, 122, 80);
    margin:0 13px;
    cursor:pointer;
    padding:15px 0px;
    padding-top:0;
}

.icons .fa-solid{
    color:rgb(80, 122, 80);
    margin:0 13px;
    cursor:pointer;
    padding:15px 0px;
}

.fa-regular{
    color:rgb(80, 122, 80);
}

/*--About Us page--*/
@media (max-width:700px){


    #navLinks {
        position: fixed;
        right: -200px; 
        top: 0;
        width: 200px;
        height: 100%;
        z-index: 2; 
        padding-top: 0px; 
        transition: 0.5s;
        text-align:left ;
    }

}

/*--About us page--*/

.sub-header{
    width:100%;
    height: 590px;
    background-image:linear-gradient(rgba(17, 3, 51, 0.705), rgba(4,9,30,0.7)), url(images/SageAI.jpg);
    background-position:50%;
    background-size: 1300px;
    text-align:center;
    color:white;
}

.sub-header h1{
    margin-top:100px;
    margin-right:0px;
    margin-left:0;
    text-align: center;
    padding-bottom:30px;
    margin-bottom:20px;
    padding-top: 0;
}

.row{
    display:flex;
    justify-content: space-between;
}

.about-us{
    width:80%;
    margin:auto;
    padding-top:40px;
    padding-bottom:40px;
}

.about-us, .abt-us{
    text-align: right;
}

.about-col > *{
    margin: auto;
}

.about-col{
    flex-basis:auto;
    padding-bottom: 10px;
    text-align: center;
}

.about-col p{
    font-size: 18px;
    padding-bottom: 40px;
    padding-top:30px;
    text-align:center;
    line-height:30px;
}

.red-btn{
    border:1px solid rgb(97, 145, 97);
    color:black;
    background: transparent;
    font-size:17px;
}

.abt-us{
    padding-top: 20px;
}

.abt-us ul li{
    list-style: none;
    display:inline-block;
    padding:1px 12px;
    position:relative;
}

.abt-us ul li a {
    color:white;
    text-decoration: none;
    font-size: 16px;
}

.abt-us ul li::after{
    content:'';
    width:0%;
    height:2.5px;
    background:rgb(124,180,124);
    display:block;
    margin:auto;
    transition:0.5s;
}

.abt-us ul li:hover::after{
    width:100%;
}

/*--Resources Page--*/

.Resources {
    border-radius: 5px;
    margin: 0;
    margin-top:0px;
    text-align: center;
    width: 100%;
}

.resource-col a {
    text-decoration: none;
    color: black;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Container for resources */
.resources-container {
    width: 80%;
    margin: auto;
    padding-top: 0px;
    padding-bottom: 40px;
    text-align: center;
}

/* Heading for resources */
.resources-heading {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
    color: rgb(124, 180, 124); 
    padding-top:0;/* Match with previous color theme */
}

.Resources h1{
    margin-top:20px;
}

/* List of resources */
.resource-list {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Individual resource item */
.resource-item {
    flex-basis: 30%; /* Adjust according to desired layout */
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(111, 90, 206, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.resource-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.resource-item.active {
    padding-top: 0;
    margin:0;
}

/* Resource title */
.resource-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(219, 25, 25); /* Match with previous color theme */
}

/* Resource description */
.resource-description {
    font-size: 16px;
    color: #ad1616;
    margin-bottom: 10px;
}

/* Resource link */
.resource-link {
    display: block;
    color: rgb(107, 62, 146);
    text-decoration: none;
    transition: color 0.3s ease;
}

.resource-link:hover {
    color: rgb(60, 25, 89);
}

/* Language Resources */

.language-resources ul{
    padding:0;
    list-style-type: none;
    margin-bottom:20px;
}


.language-resources h3{
    color:rgb(107, 62, 146);
    font-size:20px;
    padding:20px 500px;
    font-weight:bold;
    margin-top:0px;
}

.language-resources ul li{
    background-color:rgba(107, 62, 146, 0.103);
    border-radius:20px;
    padding:20px 20px 20px 20px;
    margin:20px auto;
    text-align:center;
    max-width:95%;
    transition:background-color 0.3s ease;
}

.language-resources ul li a{
    color:rgb(108, 168, 108);
    text-decoration:none;
    font-weight:bold;
    display:block;
    line-height:1.5;
    transition:color 0.3 ease;
}

.language-resources ul li .description{
    color: rgb(0, 0, 0);
    font-size: 16px;
    overflow-wrap:break-word;
    word-wrap:break-word;
    display: block;
}

.language-resources ul li p{
    font-size:16px;
    color:black;
    margin:0;
    display:block;
    margin-top:5px;
}

.language-list {
    width: 100%;
    margin:0;
    padding: 0;
}

.language-list ul {
    padding: 0;
    margin: 0;
}

.language-list ul li {
    padding:0;
    list-style: none;
    text-decoration: none;
    color: black;
}

.language-list ul li a {
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;
}

.language-list ul li a.active {
    color: rgb(107, 62, 146);
    margin:0;
    padding:0;
    animation: pulse 1s infinite alternate;
}

.language-box {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(89, 163, 89, 0.396);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 50px 500px 0 500px;
}

.language-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.language-box a {
    margin:0;
    padding:0;
    display: block;
    font-size: 24px;
    color: rgb(107, 62, 146);
    text-decoration: none;
    transition: color 0.3s ease;
}

.language-box a:hover {
    color: rgb(60, 25, 89);
}

.language-box.active{
    padding-top:0;
}

.language-box p {
    font-size: 17px;
    color: #555;
    margin:0;
    padding:0;
}

.resource-list.active {
    padding-top: 0;
}

.resources-heading.active {
    margin-top: 0;
    padding-top: 0;
}

.resources-page .sub-header{
    background-image: linear-gradient(rgba(17,3,51,0.405), rgba(4,9,30,0.3)), url(images/resources.jpg);
}

/* Media Queries for Resources Page */
@media (max-width: 700px) {
    /* Adjustments for the sub-header */
    .language-box {
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(124, 180, 124, 0.4);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        margin: 30px auto; /* Center the box horizontally */
        max-width: 80%; /* Limit box width */
    }

    /* Adjustments for resource list */
    .resource-list {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center items horizontally */
    }

    /* Adjustments for resource items */
    .resource-item {
        flex-basis: 30%; /* Adjust according to desired layout */
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(90, 206, 142);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        text-align: left;
    }

    .resource-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .resource-item.active {
        padding-top: 0;
        margin: 0;
    }

    /* Resource title */
    .resource-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
        color: rgb(219, 25, 25); /* Match with previous color theme */
    }

    /* Resource description */
    .resource-description {
        font-size: 16px;
        color: #ad1616;
        margin-bottom: 10px;
    }

    /* Resource link */
    .resource-link {
        display: block;
        color: rgb(107, 62, 146);
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .resource-link:hover {
        color: rgb(60, 25, 89);
    }

    /* Language Resources */

    .language-resources ul {
        padding: 0;
        list-style-type: none;
        margin-bottom: 20px;
    }

    .language-resources h3 {
        color:rgb(107, 62, 146);
        font-size:20px;
        padding:20px 100px;
        font-weight:bold;
        margin-top:0px;
    }

    .language-resources p{
        font-size:16px;
    }

    .language-resources ul li {
        position:relative;
        background-color: rgba(107, 62, 146, 0.13);
        border-radius: 20px;
        padding: 20px; /* Adjust padding as needed */
        text-align: center; /* Center text */
        margin: 20px auto; /* Center the box horizontally */
        max-width: 90%; /* Limit box width */
    }

    .language-resources ul li a {
        color: rgb(72, 134, 72);
        text-decoration: none;
        font-weight: bold;
    }

    .language-resources ul li .description{
        color: rgb(0, 0, 0);
        font-size: 14px;
        overflow-wrap:break-word;
        word-wrap:break-word;
        display: block;
    }
}

/*--Newsletter*/

    .newsletter-page{
        width:80%;
        margin:auto;
        padding:60px 0;
    }

    .newsletter-row{
        background: rgba(59, 46, 112, 0.637) center;
        
        background-size:cover;
        padding:60px 50px;
        text-align:center;
        color:white;
    }

    .newsletter-row p{
        color:white;
        margin-bottom:40px;
        margin:40px auto;
        max-width:600px;
        font-size:15px;
        font-weight:300;
    }

    .newsletter-box{
        height:40px;
        display:flex;
        justify-content: center;
    }

    .newsletter-box i{
        background:rgba(124, 180, 124, 0.7);
        width:40px;
        line-height: 40px;
    }

    .ebox, .btn{
        border:none;
        outline:none;
    }

    .ebox{
        width:0px;
        transition:0.7s;
    }

    .newsletter-box:hover > .ebox, .ebox:focus{
        width:260px;
        padding:0 10px;
        box-shadow:10px 10px 10px rgba(0, 0, 0, 0.2);
    }

    

    .btn{
        background:rgba(124, 180, 124, 0.7);
        color:white;
        padding:0 10px;
        text-transform:uppercase;
        cursor:pointer;
    }

    .newsletter-row h2{
        margin-top:0px;
        margin-bottom:30px;
        padding:0;
    }
    
    .newsletter-page .sub-header{
        width:100%;
        height: 700px;
        background-image:linear-gradient(rgba(17, 3, 51, 0.705), rgba(4,9,30,0.7)), url(images/newsletter.jpg);
        background-position:50%;
        background-size: 1150px;
        text-align:center;
        color:white;
    }
    
    .newsletter-page .sub-header h1{
        margin-top:180px;
        margin-right:0px;
        margin-left:0;
        text-align: center;
        padding-bottom:30px;
        margin-bottom:20px;
        padding-top: 0;
    }

    @media (max-width:768px)
    {
        .newsletter-page{
            width:100%;
            margin-top:0;
            padding:0;
        }

        .newsletter-page .sub-header{
            margin-top:0;
            width:100%;
            background-size: cover;
            padding:0;
            margin:0;
        }

    }

    /*--Contact page--*/
.contactt-page {
    width: 80%;
    margin: auto;
}

.contactt-page .sub-header{
    width:100%;
    height: 700px;
    background-image:linear-gradient(rgba(17, 3, 51, 0.705), rgba(4,9,30,0.7)), url(images/contact.jpg);
    background-position:50%;
    background-size: 1150px;
    text-align:center;
    color:white;
}

.contactt-page .sub-header h1{
    margin-top:180px;
    margin-right:0px;
    margin-left:0;
    text-align: center;
    padding-bottom:30px;
    margin-bottom:20px;
    padding-top: 0;
}

.row{
    display:flex;
    justify-content: space-between;
}

.contact-col{
    flex-basis: 48%;
    flex:1;
    margin-bottom:0px;
    margin-top:30px;
}

.contact-info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:20px;
    margin-top: 50px;
}

.contact-info, .contact-form{
    display:flex;
    flex-direction: column;
    margin:50px;
}

.contact-info div{
    display:flex;
    align-items: center;
    margin-bottom:20px;
    padding:0;
}

.contact-info , .contact-form {
    align-items: center;
    margin-bottom:0px;
    margin-top:50px;
}

.icon-text-wrapper{
    display:flex;
    align-items: center;
}

.contact-info .fa, .fa-brands{
    font-size:28px;
    color:rgb(80, 122, 80);
    margin-right:10px;
    margin-top:30px;
    cursor:pointer;
}

.contact-info div p{
    font-size:16px;
    margin-top:10px;
    margin-left:0;
}

.contact-col div{
    display:flex;
    align-items: center;
    margin-bottom:50px ;
    margin-left:0px;
    padding:0;
}

.contact-info h5{
    font-size:20px;
    color:#555;
    font-weight:400;
    margin-left:0;
}

.contact-form h5{
    font-size:20px;
    color:#555;
    font-weight:400;
    margin-left:0;
    text-align: center;
}


.contact-form input, .contact-form textarea{
    width:100%;
    padding:15px;
    margin-bottom:17px;
    outline:none;
    border:1px ridge #ccc;
} 

#select{
    width:100%;
    padding:10px;
    margin-bottom:17px;
    outline:none;
    border:1px ridge #ccc;
}



.submit-btn{
    display:inline-block;
    text-decoration: none;
    color:rgb(97, 145, 97);
    border-width:2px;
    border-style:solid;
    border-color: rgba(255,255,255,0.7);
    padding: 12px 34px;
    font-size:15px;
    background:transparent;
    position:relative;
    cursor:pointer;
    transition:0.5s;
}

.submit-btn:hover{
    background-color:rgba(97, 145, 97,0.7);
    border-color:white;
    color:white;
}
    
@media (max-width:768px){

    .row{
        flex-direction: column;
    }

    .contactt-page{
        width:100%;
    }

    .contactt-page .sub-header {
        margin:auto;
        height: 500px;
        width:100%;
        background-size: cover;
    }

    .contact-col {
        flex-basis: 50%;
        margin-bottom: -50px;
    }

    .contact-info, .contact-form {
        margin: 0;
    }

    .contact-info div, .contact-form {
        margin: 20px;
    }

    .icon-text-wrapper {
        justify-content: flex-start;
    }

    .contact-info .fa, .fa-brands {
        margin-top: 10px;
    }

    .contact-info div p {
        margin-top: 5px;
    }

    .contact-col div {
        margin-bottom: 30px;
    }

    .submit-btn {
        padding: 12px 20px;
    }

    .contact-info{
        margin-bottom:-100px;
    }
}